<%= page_title('➜ Ringo') %>

<div id="am-main">
  <ul id="am-settings-nav" class="nav nav-tabs">
    <li><a href="/settings">Settings</a></li>
    <li class="active"><a href="#">Install Bookmarklet</a><li>
  </ul>
  <%= render partial: 'install_bookmarklet_copy' %>
</div>
