<div class="visible-lg">
  <div class="col-md-8">
    <div>
      Drag the Ringo bookmarklet below to the bookmarks bar in your browser.
    </div>
    <br />

    <div class="col-md-3 well" style="text-align: center">
      <a class="btn btn-small" href="<%= RailsBookmarklet.compile_invocation_script(create_via_bookmarklet_selections_url, {
        :error => 'Uh-oh, something went wrong.',
        :params => {
          "uri" => "'+encodeURIComponent(d.location)+'",
          "content" => "'+s+'"
        }
      }) %>">➜ Ringo</a>
    </div>

    <div style="clear: both">
      Then, whenever you want to save some text to Ringo, select it and click the <span class="btn btn-small">➜ Ringo</span> button in your bookmarks bar, and it will be saved to your Ringo account. If you don't have any text selected, clicking the <span class="btn btn-small">➜ Ringo</span> button will just take you back to Ringo.
    </div>

  </div>
</div>

<div class="hidden-lg">
  <p>
    The Ringo bookmarklet saves whatever text you have highlighted to Ringo. Follow the directions below to install the bookmarklet.
  </p>

  <ol>
    <li>
      Tap on the field below and press down until some text is selected in a blue overlay. Adjust this blue overlay to cover all the code in the field, then click 'Copy'.
      <br />
      <p class="well" style="word-wrap: break-word"><%= RailsBookmarklet.compile_invocation_script(create_via_bookmarklet_selections_url, {
        :error => 'Uh-oh, something went wrong.',
        :params => {
          "uri" => "'+encodeURIComponent(d.location)+'"
        }
      }) %>
      </p>
    </li>
    <li>Bookmark this page.</li>
    <li>Open your bookmarks by clicking the book button at the bottom of your browser.</li>
    <li>Click the 'Edit' button on the lower left.</li>
    <li>Click on the '➜ Ringo' bookmark.</li>
    <li>Click on the field that starts with 'http://ringo4writers.com/'.</li>
    <li>Click the circled 'x' at the right end of that field to clear it.</li>
    <li>Hold down on this field until you see the 'Paste' button.</li>
    <li>Click 'Paste'.</li>
    <li>Click the 'Done' button on the lower right.</li>
    <li>Click the 'Done' button on the lower left.</li>
    <li>Click the 'Done' button on the upper right.</li>
  </ol>

  <p>Now, whenever you want to save some text to Ringo, select it and click the book button at the bottom of your browser, then click the <br />'➜ Ringo' bookmark, and it will be saved to your Ringo account.</p>
</div>
