<nav id="main-nav">
  <div class="navigation">

    <!-- search form visible on phone -->
    <div class="search">
      <form action="search_results.html" method="get">
        <div class="search-wrapper">
          <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>

    <!-- navigation items -->
    <ul class="nav nav-stacked">

      <!-- single navigation item -->
      <li class="<%= 'active' if request.path.include?('dashboard')%>">
        <%= link_to dashboard_path do %>
          <i class="icon-dashboard"></i>
          <span>Dashboard</span>
        <% end %>
      </li>

      <li class="<%= 'active' if request.path.include?('selections') %>">
        <%= link_to selections_path do %>
          <i class="icon-tasks"></i>
          <span>Highlights</span>
        <% end %>
      </li>

    </ul>
  </div>
</nav>
