<div class='login-container-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='text-center'>
          <a href='<%= sign_up_path %>'>
            <i class='icon-user'></i>
            New to Ringo?
            <strong>Sign up</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
