.navbar {
  text-align: center;
}

.navbar-brand {
  float: none;
}

header .navbar > .nav {
  position: absolute;
  top: 0;
  right: 15px;
}

header, #wrapper {
  @include box-shadow(#{0 1px 3px rgba(0,0,0,0.7)});
}

#content {
  margin-left: 0;
}

#ringo-homepage-brand {
  font-size: 54px;
  color: #fff;
  font-family: 'Droid Serif', serif;
}

#ringo-brand {
  font-size: 24px;
  color: #fff;
  font-family: 'Droid Serif', serif;
  margin-top: 6px;
}

#subtitle {
  color: #fff;
  font-family: 'Satisfy', cursive;
  font-size: 28px;
}

#pitch {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
