<%= bookmarklet_stylesheet_link_tag "bookmarklet" %>

<p id="am-bookmarklet-message">
  <span>
    <a id="am-logo" href="http://argmaps.com/home" target="_blank"></a>
    <a href="<%= log_in_url %>" target="_blank" onclick="document.querySelector('#am_bookmarklet_container').remove();">
      Please log in.
    </a>
  </span>
</p>
