<%= bookmarklet_stylesheet_link_tag "bookmarklet" %>

<p id="ringo-bookmarklet-message">
  <span>
    <a href="<%= log_in_url %>" target="_blank" onclick="document.querySelector('#ringo_bookmarklet_container').remove();">
      Please log in.
    </a>
  </span>
</p>
