<%= bookmarklet_stylesheet_link_tag "bookmarklet" %>

<p id="ringo-bookmarklet-message">
  <span>
    <span id="ringo-bookmarklet-message-content">Sorry, can't save this selection. Please try again later.</span>
  </span>
</p>

<script type="text/javascript">
  (function() {
    var hide = function() {
      var el = document.querySelector('#ringo_bookmarklet_container');
      el.classList.add('hidden');
      setTimeout(function() {
        el.remove();
      }, 3000);
    };
    setTimeout(hide, 10000);
  })();
</script>
