(function() {
  var updateMsg = function() {
    var el = document.querySelector('#ringo-bookmarklet-message-content');
    var html = 'Saved! <a href="<%= dashboard_url %>" target="_blank">Open Ringo.</a>';
    el.innerHTML = html;
  };
  updateMsg();

  var hide = function() {
    var el = document.querySelector('#ringo_bookmarklet_container');
    el.classList.add('am-hide');
    setTimeout(function() {
      el.remove();
    }, 3000);
  };
  setTimeout(hide, 10000);
})();
